body {
  font-family: 'Varela Round', sans-serif;
}
.navbar {
    display: flex;

    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.nav-logo img {
  height: 40px;
  filter: drop-shadow(0 0 3px white);
}

.logo {
    font-weight: bold;
    color: #1d3557;
    font-size: 1.2rem;
}


.nav-links {
  flex: 1; /* takes available space */
  display: flex;
  justify-content: space-evenly; /* evenly spread items */
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}


.nav-links li {
    cursor: pointer;
    color: #333;
}

.nav-links li a {
    text-decoration: none;
    color: inherit;
}