@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: 'Varela Round';
}
/*footer*/
#footer {
    background-color: #EAF8F6;
    color: #122046;
    height: 400px;
}

#footer img {
    width: 90px;
    height: 70px;;
    text-align: center;
    margin-top: 50px;
}

.signature_footer {
    color: #122046;
    margin-left: 20px;
    margin-top: 12px;
    margin-bottom: 10px;
}

#footer1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 20px
}

#footer-info1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 20px
}

#footer1 img {
    margin-bottom: 20px; /* Add spacing between image and the rest of the content */
    width: 100px; /* Keep existing image styling */
    height: auto;
}

#part1 {
    display: flex;
    flex-direction: column
}

#part1 > p {
    margin-bottom: 30px;
}

.part1-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 8px;
    font-size: 24px;
    color: #122046;
    margin-right: 20px
}

.icon {
    display: flex;
    justify-content: space-between
}

